div.css-175oi2r.r-zl2h9q.r-1iusvr4.r-16y2uox.r-18u37iz,
div.css-175oi2r.r-1iusvr4.r-16y2uox.r-18u37iz {
  display: flex;
  flex-direction: row;
}

article[data-x-vertical="on"]
div.css-175oi2r.r-zl2h9q.r-1iusvr4.r-16y2uox.r-18u37iz,
article[data-x-vertical="on"]
div.css-175oi2r.r-1iusvr4.r-16y2uox.r-18u37iz {
  margin-bottom: 0px;
}

/* 縦表示 + gap=12px */
article[data-x-vertical="on"][data-x-gap="12"]
  div.css-175oi2r.r-zl2h9q.r-1iusvr4.r-16y2uox.r-18u37iz,
article[data-x-vertical="on"][data-x-gap="12"]
  div.css-175oi2r.r-1iusvr4.r-16y2uox.r-18u37iz {
  gap: 12px !important;
  padding-bottom: 12px;
}

/* 縦表示 + gap=44px */
article[data-x-vertical="on"][data-x-gap="44"]
  div.css-175oi2r.r-zl2h9q.r-1iusvr4.r-16y2uox.r-18u37iz,
article[data-x-vertical="on"][data-x-gap="44"]
  div.css-175oi2r.r-1iusvr4.r-16y2uox.r-18u37iz {
  gap: 44px !important;
  padding-bottom: 44px;
}

article[data-x-vertical="on"][data-x-gap="0"]
  div.css-175oi2r.r-zl2h9q.r-1iusvr4.r-16y2uox.r-18u37iz,
article[data-x-vertical="on"][data-x-gap="0"]
  div.css-175oi2r.r-1iusvr4.r-16y2uox.r-18u37iz {
  gap: 0px !important;
  padding-bottom: 0px;
}

.x-vertical-toggle,
.x-gap-toggle {
  color: rgb(29, 155, 240);
}